@charset "UTF-8";

/* 共通部分
------------------------------ */
html {
    font-size: 100%;
}
body {
    font-family: "";
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
li {
    list-style-type: none;
}
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}
main {
    height: 100vmin;
}

/* ヘッダー
------------------------------ */
#header {
    height: 100px;
    background-color: #c3dcbe;
    padding: 20px;
}
.logo {
    width: 145px;
}
#header {
    display: flex;
    justify-content: center;
}
#header h1 {
    margin-right: 20px;
}
.header-nav ul {
    display: flex;
    align-items: center;
    height: 100%;
}
.header-nav ul li {
    margin-left: 30px;
}
.header-nav ul li a {
    color: rgb(27, 27, 27);
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.4rem;
}
.header-nav ul li a:hover {
    color: rgb(102, 194, 255);
}
.fa-twitter {
    color: rgb(60, 180, 250);
    padding-top: 5px;
}

/* フッター
------------------------------ */
#footer {
    margin-top: 100px;
    text-align: center;
    padding-bottom: 100px;
    font-family: 'Rajdhani', sans-serif;
}

/* HOME
------------------------------ */
main {
    background-color: #d9dee4;
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
    background-repeat: repeat;
    padding-top: 60px;
}
.main-wrapper {
    display: flex;
    justify-content: space-between;
}
.main-visual-img {
    height: 450px;
    width: auto;
    margin-left: 50px;
}
.word {
    padding: 50px 0 0 50px;
    /* margin-right: 40px; */
}
.name {
    font-size: 6rem;
    /* text-align: right; */
    padding-bottom: 30px;
    font-family: 'Lato', 'Rajdhani', sans-serif;
}
.intro {
    line-height: 2;
}
.a-tw {
    color: rgb(85, 139, 240);
    font-weight: bold;
}

/* ABOUT
------------------------------ */
.about-wrapper,
.contact-wrapper,
.works-wrapper {
    padding-bottom: 100px;
}
.sub-title {
    text-align: center;
    font-size: 4rem;
    font-family: 'Lato', 'Rajdhani', sans-serif;
    margin-bottom: 60px;
}
.about-topics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.about-topics-item {
    background-color: rgba(230, 236, 176, 0.6);
    padding: 20px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;  
}
.about-title {
    text-align: center;
    padding: 20px 0;
    font-size: 1.5rem;
    color: #6a9762;
}
.about-sentence {
    font-size: 1.1rem;
    text-align: justify;
    height: 150px;
    display: block;
}
.about-topics-item {
    text-align: center;
}
.about-topics-item img {
    width: 70%;
    line-height: 200px;
}
.about-topics-item:last-child img {
    width: 45%;
}
.about-img {
    height: 100%;
}


/* WORKS
------------------------------ */
.works {
    text-align: center;
}

/* CONTACT
------------------------------ */
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-sentence {
    margin-bottom: 20px;
}

/* ------------------------------
　　　　　　　スマホ
------------------------------ */
@media(max-width: 670px) {
    /* 共通部分
    ------------------------------ */
    main {
        height: 100%;
    }

    /* ヘッダー
    ------------------------------ */
    #header {
        flex-direction: column;
        align-items: center;
        padding: 70px 0;
    }
    
    /* フッター
    ------------------------------ */

    /* HOME
    ------------------------------ */
    .main-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .main-visual {
        text-align: center;
    }
    .main-visual-img {
        width: 80%;
        margin-left: 0;
    }
    .word {
        padding: 0 0 30px 0;
    }
    .name {
        text-align: center;
    }

    /* ABOUT
    ------------------------------ */
    .about-topics {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }

    /* WORKS
    ------------------------------ */
    .works-wrapper,
    .contact-wrapper {
        height: 100vh;
    }

    /* CONTACT
    ------------------------------ */
}
